@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);
@import "iconfont";
@import "header";
@import "top-bar";
//ШРИФТ ПО УМОЛЧАНИЮ
$fontfamily: "Roboto";

//ПЕРЕМЕННЫЕ
$minWidth: 320px;
$maxWidth: 1440px;
$maxWidthContainer: 1236px;
$md1: $maxWidthContainer + 12px;
$md2: 991.98;
$md2: 767.98;
$md2: 479.98;
